@model IdentityViewModel

<div class="d-flex justify-content-between mx-2 mb-3 align-items-center">
    <a class="btn-sm backArrow" asp-action="Index" asp-controller="Home">
        <img src="~/img/arrow-left-black.png" height="16"/>
        <span>Home</span>
    </a>
    <h1>Identity</h1>
	<div>
		<div class="btn-group">
			<a class="btn btn-outline-primary btn-sm viewButton" asp-controller="Account" asp-action="RoleRequest">Rol Verzoeken</a>
			<a class="btn btn-outline-primary btn-sm viewButton" asp-controller="Account" asp-action="ManageUserRoles">Beheer Rollen van Gebruikers</a>
		</div>
	</div>
</div>

<div class="identity">
	@* Users *@
	<div class="row">
		@if (Model.Users != null)
		{
			<div class="column">
				<table class="table" id="users">
					<thead>
						<tr>
							<th>All Users</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						@foreach (var users in Model.Users)
						{
							<tr>
								<td>@users.Email</td>
								<td>
									<a class="btn btn-outline-danger btn-sm viewButton" asp-controller="Account" asp-action="DeleteUser" asp-route-id="@users.Id">Delete</a>
								</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		}

		@* Roles *@
		@if (Model.Roles != null)
		{
			<div class="column">
				<table class="table" id="users">
					<thead>
						<tr>
							<th>All Roles</th>
							<th>
								<a class="btn btn-outline-success btn-sm viewButton" asp-controller="Account" asp-action="CreateRoles">Creëer Rol</a>
							</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var role in Model.Roles)
						{
							<tr>
								<td>@role.Name</td>
								<td>
									<a class="btn btn-outline-danger btn-sm viewButton" asp-controller="Account" asp-action="DeleteRoles" asp-route-id="@role.Id">Delete</a>
								</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		}
	</div>


	@* TagHelper *@
	@if (Model.Roles != null)
	{
		<table class="table">
			<thead>
				<tr>
					<th>ID</th>
					<th>Roles</th>
					<th>Users in Role</th>
				</tr>
			</thead>
			<tbody>
			@foreach (var role in Model.Roles)
			{
				<tr>
					<td>@role.Id</td>
					<td>@role.Name</td>
					<td role="@role.Id"></td>
				</tr>
			}
			</tbody>
		</table>
	}
</div>

@* Alert after a successfull delete or add of roles *@
@if (ViewBag.Alert == "RoleCreated")
{
	<div id="snackbar">
		<div class="toast-header">
			<img src="~/img/green-check.png" height="16" class="me-2">
			<strong class="me-auto">Succesfull</strong>
		</div>
		<div class="toast-body">
			Succesfully Added Role
		</div>
	</div>
}
@if (ViewBag.Alert == "RoleDeleted")
{
	<div id="snackbar">
		<div class="toast-header">
			<img src="~/img/green-check.png" height="16" class="me-2">
			<strong class="me-auto">Succesfull</strong>
		</div>
		<div class="toast-body">
			Succesfully Deleted Role
		</div>
	</div>
}
@if (ViewBag.Alert == "RoleAssignedToUser")
{
	<div id="snackbar">
		<div class="toast-header">
			<img src="~/img/green-check.png" height="16" class="me-2">
			<strong class="me-auto">Succesfull</strong>
		</div>
		<div class="toast-body">
			Succesfully Assign a User a Role
		</div>
	</div>
}
@if (ViewBag.Alert == "RoleRemovedFromUser")
{
	<div id="snackbar">
		<div class="toast-header">
			<img src="~/img/green-check.png" height="16" class="me-2">
			<strong class="me-auto">Succesfull</strong>
		</div>
		<div class="toast-body">
			Succesfully Removed Role from User
		</div>
	</div>
}
@if (ViewBag.Alert == "UserDeleted")
{
	<div id="snackbar">
		<div class="toast-header">
			<img src="~/img/green-check.png" height="16" class="me-2">
			<strong class="me-auto">Succesfull</strong>
		</div>
		<div class="toast-body">
			Succesfully Deleted User
		</div>
	</div>
}
@if (ViewBag.Alert == "UsersInRole")
{
	<div id="snackbar">
		<div class="toast-header">
			<img src="~/img/red-cross.png" height="16" class="me-2">
			<strong class="me-auto">Error</strong>
		</div>
		<div class="toast-body">
			Cannot delete role because there are users in it, remove role from users first
		</div>
	</div>
}
@if (ViewBag.Alert == "RoleAccepted")
{
	<div id="snackbar">
		<div class="toast-header">
			<img src="~/img/green-check.png" height="16" class="me-2">
			<strong class="me-auto">Accepted</strong>
		</div>
		<div class="toast-body">
			Role Accepted Succesfully
		</div>
	</div>
}
@if (ViewBag.Alert == "RoleDenied")
{
	<div id="snackbar">
		<div class="toast-header">
			<img src="~/img/red-cross.png" height="16" class="me-2">
			<strong class="me-auto">Denied</strong>
		</div>
		<div class="toast-body">
			Role Denied Successfully
		</div>
	</div>
}
