@model IdentityViewModel

<div class="d-flex justify-content-between mx-2 mb-3 align-items-center">
    <a class="btn-sm backArrow" asp-action="Index" asp-controller="Home">
        <img src="~/img/arrow-left-black.png" height="16"/>
        <span>Home</span>
    </a>
    <h1>Identity</h1>
	<div>
		<div class="btn-group">
			<a class="btn btn-outline-primary btn-sm viewButton" asp-controller="Account" asp-action="ManageUserRoles">Manage Users Roles</a>
			<a class="btn btn-outline-primary btn-sm viewButton" asp-controller="Account" asp-action="RoleRequest">
				@* Badge for RoleRequests *@
				@if (ViewBag.RoleRequestsBadge != 0)
				{
					<span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" id="">
						@ViewBag.RoleRequestsBadge
						<span class="visually-hidden">unread messages</span>
					</span>
				} Role Requests
			</a>
		</div>
	</div>
</div>

<div class="identity">
	@* Users *@
	<div class="row">
		@if (Model.Users != null)
		{
			<div class="column">
				<table class="table" id="users">
					<thead>
						<tr>
							<th>All Users</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						@foreach (var users in Model.Users)
						{
							<tr>
								<td>@users.Email</td>
								<td>
									<a class="btn btn-outline-danger btn-sm viewButton" asp-controller="Account" asp-action="DeleteUser" asp-route-id="@users.Id">Delete</a>
								</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		}

		@* Roles *@
		@if (Model.Roles != null)
		{
			<div class="column">
				<table class="table" id="users">
					<thead>
						<tr>
							<th>All Roles</th>
							<th>
								<a class="btn btn-outline-success btn-sm viewButton" asp-controller="Account" asp-action="CreateRoles">Create Role</a>
							</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var role in Model.Roles)
						{
							<tr>
								<td>@role.Name</td>
								<td>
									<a class="btn btn-outline-danger btn-sm viewButton" asp-controller="Account" asp-action="DeleteRoles" asp-route-id="@role.Id">Delete</a>
								</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		}
	</div>


	@* TagHelper *@
	@if (Model.Roles != null)
	{
		<table class="table">
			<thead>
				<tr>
					<th>ID</th>
					<th>Roles</th>
					<th>Users in Role</th>
				</tr>
			</thead>
			<tbody>
			@foreach (var role in Model.Roles)
			{
				<tr>
					<td>@role.Id</td>
					<td>@role.Name</td>
					<td role="@role.Id"></td>
				</tr>
			}
			</tbody>
		</table>
	}
</div>

@* Alert after a successfull delete or add of roles *@
@if (ViewBag.RoleTitle != null)
{
	<div id="snackbar">
		<div class="toast-header">
			<img src="@ViewBag.RoleImg" height="16" class="me-2">
			<strong class="me-auto">@ViewBag.RoleTitle</strong>
		</div>
		<div class="toast-body">
			@ViewBag.RoleMessage
		</div>
	</div>
}