@model HogeschoolPXL.Models.Gebruiker

@{
    ViewData["Title"] = "Details";
}

<h1 class="titleView">Details Gebruiker</h1>

<div class="d-flex justify-content-center">
    <div class="col-md-4">
        <dl class="row">
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Voornaam)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Voornaam)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Naam)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Naam)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Email)
            </dd>
        </dl>
        <div class="form-group d-flex justify-content-between">
            <a class="btn-sm backArrow" asp-action="Index" asp-controller="Gebruiker">
                <img src="~/img/arrow-left-black.png" height="16"/>
                <span >Back</span>
            </a>
            <a asp-action="Edit" asp-route-id="@Model?.GebruikerId" class="btn btn-outline-success btn-sm viewButton">Edit Gebruiker</a>
        </div>
    </div>
</div>
