@model IEnumerable<HogeschoolPXL.Models.Gebruiker>

@{
    ViewData["Title"] = "Overview";
}

<div class="d-flex justify-content-between mx-2 mb-3">
    <a class="btn-sm backArrow" asp-action="Index" asp-controller="Home">
        <img src="~/img/arrow-left-black.png" height="16"/>
        <span>Home</span>
    </a>
    <h1>Gebruikers</h1>
    <a class="btn btn-outline-success btn-sm viewButton" asp-action="Create">Creëer Gebruiker</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Voornaam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Naam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Voornaam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Naam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <a class="btn btn-outline-primary btn-sm viewButton" asp-action="Edit" asp-route-id="@item.GebruikerId">Edit</a>
                <a class="btn btn-outline-primary btn-sm viewButton" asp-action="Details" asp-route-id="@item.GebruikerId">Details</a>
                <a class="btn btn-outline-danger btn-sm viewButton" asp-action="Delete" asp-route-id="@item.GebruikerId">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
