@model HogeschoolPXL.Models.Handboek

@{
    ViewData["Title"] = "Verwijderen";
}

<h3 class="titleView">Deze handboek verwijderen?</h3>

<div class="d-flex justify-content-center">
    <div class="col-md-4">
        <dl class="row">
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Titel)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Titel)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Kostprijs)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Kostprijs)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.UitgifteDatum)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.UitgifteDatum)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Afbeelding)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Afbeelding)
            </dd>
        </dl>
    
        <form asp-action="Delete" class="form-group d-flex justify-content-between">
            <a class="btn btn-sm backArrow" asp-action="Index" asp-controller="Handboek">
                <img src="~/img/arrow-left-black.png" height="16"/>
                <span >Terug</span>
            </a>
            <input type="hidden" asp-for="HandboekId"/>
            <input type="submit" value="Verwijder" class="btn btn-outline-danger btn-sm viewButton"/>
        </form>
    </div>
</div>
