@model HogeschoolPXL.Models.VakLector

@{
    ViewData["Title"] = "Details";
}

<h1>Details VakLector</h1>
<hr />

<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lector)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lector.Gebruiker.Voornaam) 
            @Html.DisplayFor(model => model.Lector.Gebruiker.Naam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vak)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vak.VakNaam)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.VakLectorId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
