@model IEnumerable<HogeschoolPXL.Models.VakLector>

@{
    ViewData["Title"] = "Overview";
}

<h1>Overview</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Lector)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vak)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Lector.Gebruiker.VoorNaam) 
                @Html.DisplayFor(modelItem => item.Lector.Gebruiker.Naam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vak.VakNaam)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.VakLectorId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.VakLectorId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.VakLectorId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
