@model HogeschoolPXL.Models.Inschrijving

@{
    ViewData["Title"] = "Verwijderen";
}

<h3 class="titleView">Deze inschrijving verwijderen?</h3>

<div class="d-flex justify-content-center">
    <div class="col-md-4">
        <dl class="row">
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Student)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Student.Gebruiker.Voornaam)
                @Html.DisplayFor(model => model.Student.Gebruiker.Naam)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.VakLector.Vak)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.VakLector.Vak.VakNaam)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Academiejaar)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Academiejaar.Datum)
            </dd>
        </dl>
    
        <form asp-action="Delete" class="form-group d-flex justify-content-between">
            <a class="btn btn-sm backArrow" asp-action="Index" asp-controller="Inschrijving">
                <img src="~/img/arrow-left-black.png" height="16"/>
                <span >Terug</span>
            </a>
            <input type="hidden" asp-for="InschrijvingId"/>
            <input type="submit" value="Verwijder" class="btn btn-outline-danger btn-sm viewButton"/>
        </form>
    </div>
</div>
