@model HogeschoolPXL.Models.Inschrijving

@{
    ViewData["Title"] = "Details";
}

<h1>Details Inschrijving</h1>
<hr />

<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Student)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Student.Gebruiker.Voornaam) 
            @Html.DisplayFor(model => model.Student.Gebruiker.Naam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VakLector.Vak)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VakLector.Vak.VakNaam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AcademieJaar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AcademieJaar.Datum)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.InschrijvingId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
