@model IEnumerable<HogeschoolPXL.Models.Inschrijving>

@{
    ViewData["Title"] = "Overview";
}

<h1>Overview</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Student)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VakLector.Vak)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AcademieJaar)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Student.Gebruiker.VoorNaam) 
                @Html.DisplayFor(modelItem => item.Student.Gebruiker.Naam)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.VakLector.Vak.VakId">
                    @Html.DisplayFor(modelItem => item.VakLector.Vak.VakNaam)
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AcademieJaar.Datum)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.InschrijvingId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.InschrijvingId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.InschrijvingId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
