@model HogeschoolPXL.Models.Student

@{
    ViewData["Title"] = "Details";
}

<h1>Details Student</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Gebruiker)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gebruiker.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(model => model.Gebruiker.VoorNaam)
                @Html.DisplayFor(model => model.Gebruiker.Naam)
            </td>
            <td>
                @Html.DisplayFor(model => model.Gebruiker.Email)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@Model?.StudentId">Edit</a> |
                <a asp-action="Index">Back to List</a>
            </td>
        </tr>
    </tbody>
</table>
