@model IEnumerable<HogeschoolPXL.Models.Student>

@{
    ViewData["Title"] = "Overview";
}

<div class="d-flex justify-content-between mx-2 mb-3">
    <a class="btn btn-outline-secondary btn-sm backArrow" asp-action="Index" asp-controller="Home">
        <img src="~/img/arrow-left.svg" />
        <span class="backButton">Home</span>
    </a>
    <h1>Studenten</h1>
    <a class="btn btn-outline-success btn-sm viewButton" asp-action="Create">Creëer Student</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Gebruiker)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Gebruiker.Voornaam)
                @Html.DisplayFor(modelItem => item.Gebruiker.Naam)
            </td>
            <td>
                <a class="btn btn-outline-primary btn-sm viewButton" asp-action="Edit" asp-route-id="@item.StudentId">Edit</a>
                <a class="btn btn-outline-primary btn-sm viewButton" asp-action="Details" asp-route-id="@item.StudentId">Details</a>
                <a class="btn btn-outline-danger btn-sm viewButton" asp-action="Delete" asp-route-id="@item.StudentId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
