@model HogeschoolPXL.Models.Vak

@{
    ViewData["Title"] = "Verwijderen";
}

<h3 class="titleView">Deze vak verwijderen?</h3>

<div class="d-flex justify-content-center">
    <div class="col-md-4">
        <dl class="row">
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.VakNaam)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.VakNaam)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Studiepunten)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Studiepunten)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Handboek)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Handboek.Titel)
            </dd>
        </dl>

        <form asp-action="Delete" class="form-group d-flex justify-content-between">
            <a class="btn btn-outline-secondary btn-sm backArrow" asp-action="Index" asp-controller="Vak">
                <img src="~/img/arrow-left.svg" />
                <span class="backButton">Terug</span>
            </a>
            <input type="hidden" asp-for="VakId" />
            <input type="submit" value="Verwijder" class="btn btn-outline-danger btn-sm viewButton" />
        </form>
    </div>
</div>
