@model HogeschoolPXL.Models.Vak

@{
    ViewData["Title"] = "Details";
}

<h1 class="titleView">Details Vak</h1>

<div class="d-flex justify-content-center">
    <div class="col-md-4">
        <dl class="row">
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.VakNaam)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.VakNaam)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Studiepunten)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Studiepunten)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Handboek)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Handboek.Titel)
            </dd>

            <div class="form-group d-flex justify-content-between">
                <a class="btn-sm backArrow" asp-action="Index" asp-controller="Vak">
                    <img src="~/img/arrow-left-black.png" height="16"/>
                    <span >Terug</span>
                </a>
                <a asp-action="Edit" asp-route-id="@Model?.VakId" class="btn btn-outline-success btn-sm viewButton">Edit Vak</a>
            </div>
        </dl>
    </div>
</div>
