@model IEnumerable<HogeschoolPXL.Models.Vak>

@{
    ViewData["Title"] = "Overview";
}

<h1>Overview</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VakNaam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudiePunten)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Handboek)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VakNaam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudiePunten)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Handboek.Titel)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.VakId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.VakId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.VakId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
